

.grey {
    background-color: lightgray;
}

.darkgreen {
    background-color: #379209;
}
.lightgreen {
    background-color: #00ff00;
}
.green {
    background-color: #4abd10;
}
.milgreen {
    background-color: #274e13;
}
.black {
    background-color: black;
}